body * {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #111;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Creates 4 equal columns */
  gap: 1rem;
}

.grid-container div {
  /* Style for each grid item */
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}

h1 {
  margin-bottom: 1rem;
}

.frog {
  width: 50%;
}

.truck {
  width: 80%;
}